{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <h1 class="mt-4">Données pour la serre : {{ raspberry.device_id }}</h1>
    <p><strong>Description :</strong> {{ raspberry.location_description }}</p>
    <p><strong>Groupe :</strong> {{ raspberry.group.name }}</p>
    <p><strong>Status :</strong> {{ raspberry.get_status_display }}</p>

    <!-- Filtres -->
    <form method="get" class="mb-4">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="timeRangeSelect" class="form-label">Plage de temps (heures)</label>
                <select id="timeRangeSelect" name="time_range" class="form-select">
                    <option value="24" {% if selected_time_range == 24 %}selected{% endif %}>24 heures</option>
                    <option value="48" {% if selected_time_range == 48 %}selected{% endif %}>48 heures</option>
                    <option value="72" {% if selected_time_range == 72 %}selected{% endif %}>72 heures</option>
                </select>
            </div>
            <div class="col-md-6 align-self-end">
                <button type="submit" class="btn btn-primary">Filtrer</button>
            </div>
        </div>
    </form>

     <!-- Section des jauges -->
     <div class="row">
        <!-- Affichage pour les écrans larges -->
        <div class="col-12 d-none d-md-block">
            <div class="row">
                {% for gauge in gauges %}
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card h-100 text-center">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ gauge.title }}</h5>
                        </div>
                        <div class="card-body p-0">
                            <div id="{{ gauge.id }}" class="plot-container"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Carrousel pour les écrans mobiles -->
        <div class="col-12 d-block d-md-none">
            <div id="gaugeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for gauge in gauges %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="card h-100 text-center">
                            <div class="card-header">
                                <h5 class="card-title mb-0">{{ gauge.title }}</h5>
                            </div>
                            <div class="card-body p-0">
                                <div id="{{ gauge.id }}-mobile" class="plot-container"></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#gaugeCarousel" data-bs-slide="prev">
                    <i class="bi bi-chevron-left" aria-hidden="true"></i>
                    <span class="visually-hidden">Précédent</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#gaugeCarousel" data-bs-slide="next">
                    <i class="bi bi-chevron-right" aria-hidden="true"></i>
                    <span class="visually-hidden">Suivant</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Section des graphiques -->
    <div class="row">
        <!-- Affichage pour les écrans larges -->
        <div class="col-12 d-none d-md-block">
            <div class="row">
                {% for chart in charts %}
                <div class="col-12 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ chart.title }}</h5>
                        </div>
                        <div class="card-body p-0">
                            <div id="{{ chart.id }}" class="plot-container"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Carrousel pour les écrans mobiles -->
        <div class="col-12 d-block d-md-none">
            <div id="chartCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for chart in charts %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="card h-100 text-center">
                            <div class="card-header">
                                <h5 class="card-title mb-0">{{ chart.title }}</h5>
                            </div>
                            <div class="card-body p-0">
                                <div id="{{ chart.id }}-mobile" class="plot-container"></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#chartCarousel" data-bs-slide="prev">
                    <i class="bi bi-chevron-left" aria-hidden="true"></i>
                    <span class="visually-hidden">Précédent</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#chartCarousel" data-bs-slide="next">
                    <i class="bi bi-chevron-right" aria-hidden="true"></i>
                    <span class="visually-hidden">Suivant</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Détermine si la plage de temps sélectionnée nécessite l'affichage de la date
        var includeDate = {{ selected_time_range }} > 24;

        // Fonction pour initialiser les graphiques
        function initializePlots() {
            {% for gauge in gauges %}
            Plotly.newPlot('{{ gauge.id }}', {{ gauge.json|safe }}.data, {
                ...{{ gauge.json|safe }}.layout,
                xaxis: {
                    title: 'Temps',
                    type: 'date',
                    dtick: 900000,
                    {% if includeDate %}
                    tickformat: '%d %b %H:%M',
                    {% else %}
                    tickformat: '%H:%M',
                    {% endif %}
                    tickangle: 0
                },
                legend: {
                    font: {
                        size: 14,
                        color: '#000000'
                    },
                    bgcolor: 'rgba(255, 255, 255, 0.8)',
                    bordercolor: '#000000',
                    borderwidth: 1,
                    x: 1,
                    y: 1
                },
                margin: { t: 40, l: 50, r: 50, b: 50 }
            }, {responsive: true});
            Plotly.newPlot('{{ gauge.id }}-mobile', {{ gauge.json|safe }}.data, {
                ...{{ gauge.json|safe }}.layout,
                xaxis: {
                    title: 'Temps',
                    type: 'date',
                    dtick: 900000, 
                    {% if includeDate %}
                    tickformat: '%d %b %H:%M',
                    {% else %}
                    tickformat: '%H:%M',
                    {% endif %}
                    tickangle: 0
                },
                legend: {
                    font: {
                        size: 14,
                        color: '#000000'
                    },
                    bgcolor: 'rgba(255, 255, 255, 0.8)',
                    bordercolor: '#000000',
                    borderwidth: 1,
                    x: 1,
                    y: 1
                },
                margin: { t: 40, l: 50, r: 50, b: 50 }
            }, {responsive: true});
            {% endfor %}

            {% for chart in charts %}
            Plotly.newPlot('{{ chart.id }}', {{ chart.json|safe }}.data, {
                ...{{ chart.json|safe }}.layout,
                xaxis: {
                    title: 'Temps',
                    type: 'date',
                    dtick: 900000, 
                    {% if includeDate %}
                    tickformat: '%d %b %H:%M',
                    {% else %}
                    tickformat: '%H:%M',
                    {% endif %}
                    tickangle: 0
                },
                legend: {
                    font: {
                        size: 14,
                        color: '#000000'
                    },
                    bgcolor: 'rgba(255, 255, 255, 0.8)',
                    bordercolor: '#000000',
                    borderwidth: 1,
                    x: 1,
                    y: 1
                },
                margin: { t: 40, l: 50, r: 50, b: 50 }
            }, {responsive: true});
            Plotly.newPlot('{{ chart.id }}-mobile', {{ chart.json|safe }}.data, {
                ...{{ chart.json|safe }}.layout,
                xaxis: {
                    title: 'Temps',
                    type: 'date',
                    dtick: 900000,
                    {% if includeDate %}
                    tickformat: '%d %b %H:%M',
                    {% else %}
                    tickformat: '%H:%M',
                    {% endif %}
                    tickangle: 0
                },
                legend: {
                    font: {
                        size: 14,
                        color: '#000000'
                    },
                    bgcolor: 'rgba(255, 255, 255, 0.8)',
                    bordercolor: '#000000',
                    borderwidth: 1,
                    x: 1,
                    y: 1
                },
                margin: { t: 40, l: 50, r: 50, b: 50 }
            }, {responsive: true});
            {% endfor %}
        }

        function updateGauges(latestData) {
            if (latestData.temperature !== undefined) {
                Plotly.restyle('temperatureGauge', 'value', [latestData.temperature]);
                Plotly.restyle('temperatureGauge-mobile', 'value', [latestData.temperature]);
            }

            if (latestData.air_humidity !== undefined) {
                Plotly.restyle('humidityGauge', 'value', [latestData.air_humidity]);
                Plotly.restyle('humidityGauge-mobile', 'value', [latestData.air_humidity]);
            }
        }

        function updateCharts(data) {
            var timeLabels = data.map(entry => entry.timestamp);
            var temperatureData = data.map(entry => entry.temperature);
            var humidityData = data.map(entry => entry.air_humidity);

            {% if includeDate %}
            var tickFormat = '%d %b %H:%M';
            {% else %}
            var tickFormat = '%H:%M';
            {% endif %}

            Plotly.update('temperatureChart', {
                x: [timeLabels],
                y: [temperatureData]
            }, {
                'xaxis.tickformat': tickFormat
            }, [0]); 

            Plotly.update('temperatureChart-mobile', {
                x: [timeLabels],
                y: [temperatureData]
            }, {
                'xaxis.tickformat': tickFormat
            }, [0]);

            Plotly.update('humidityChart', {
                x: [timeLabels],
                y: [humidityData]
            }, {
                'xaxis.tickformat': tickFormat
            }, [0]);

            Plotly.update('humidityChart-mobile', {
                x: [timeLabels],
                y: [humidityData]
            }, {
                'xaxis.tickformat': tickFormat
            }, [0]);
        }

        function fetchData() {
            var timeRange = document.getElementById('timeRangeSelect').value;
            fetch("{% url 'get_latest_sensor_data' raspberry.id %}?time_range=" + timeRange, {
                credentials: 'same-origin',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                }
            })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(errorData => {
                        throw new Error(errorData.error || 'Erreur réseau');
                    });
                }
                return response.json();
            })
            .then(data => {
                if (data.length > 0) {
                    var latestData = data[data.length - 1];
                    updateGauges(latestData);
                    updateCharts(data);
                }
            })
        }

        initializePlots();

        setInterval(fetchData, 10000); 
    });
</script>


{% endblock %}
